/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;700&display=swap');*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}






*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: 400 19px/1 'Raleway', Arial, tahoma, verdana, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
table,td,th{
    border-collapse: collapse;
}
input{
    outline: none;
}



.wrapper{
    overflow: hidden; 
    position: relative;
}
.header {
    position: absolute;
    top:40px;
    left:0; 
    right:0;
    background-color: #0b0b0b;
    opacity: .9;
}
header .container{
    max-width: 1340px;
    margin: 0 auto;
}
.header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 6%;
    margin-top: 6px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link_nav a{
    text-transform: uppercase;
    display: block;
    padding: 19px 43px;
    color:#01AAE1;
    transition: .3s;
}
.link_nav a:hover{
    background-color: #01AAE1;
    color:#000;
}










.main{
    background: url(../img/banner.jpg) no-repeat 100% 100%;
    /*margin: 0 auto;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding-top:380px;
    padding-bottom: 170px;
}
.main .container{
    width: 60%;
    margin: 0 auto;
}
.img-main{
    width: 100%;
    text-align: center;
}
.main-inner{ 
   /* padding-top: 390px;
    padding-bottom: 160px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-inner p{
    text-align: center;
    color:#EEEEEE;
    padding: 56px 0 98px 0;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
}
.btn-main{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: #3EA2D8;
    text-transform: uppercase;
    padding: 12px 58px;
    border-radius: 20px;
    border:1px solid #D4D4D4;
    background-color: #D4D4D4;
    opacity: .9;
    cursor: pointer;
}
.btn-main:hover{
    background-color: #FCFCFC;
    border-color: #FCFCFC;
    opacity: 1;
    color: #42A7DE;
}









.mobile-button{
    position: relative;
    width: 32px;
    height: 32px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mobile-button span{
    display: block;
    height: 4px;
    width: 32px;
    background: #00c0ff;
    z-index: 5;
    transition: .3s;
    
}
.mobile-button:before,
.mobile-button:after{
    content: '';
    transition: .3s;
    height: 4px;
    width: 100%;
    background: #00c0ff;
    position: absolute;
    left:0;
    top:0;
}
.mobile-button:after{
    top:auto;
    bottom: 0;
}
.mobile-button.opened span{
    opacity: 0;
}
.mobile-button.opened:before{
    transform: rotate(45deg) ;
    top: calc(50% - 2px);
}
.mobile-button.opened:after{
    transform: rotate(-45deg);
    bottom: calc(50% - 2px)
}











.who{
    background-color: #000;
    padding-top: 160px;
    padding-bottom: 150px;
}
.who .container{
    width:940px;
    margin: 0 auto;
    text-align: center;
}
.who .container h3{
    color:#00C0FF;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    padding-bottom: 40px;
}
.who .container p{
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    color:#00C0FF;
    font-size: 18px;
    line-height: 32px;
}
.we{
    background-color: #1B1B1B;
    padding-top: 134px;
    padding-bottom: 118px;
}
.we .container{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text{
    width: 33%;
}
.text h4{
    color:#fff;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Raleway';
    font-weight: bold;
    font-style: normal;
    padding-bottom: 30px;
}
.text p{
    color:#fff;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    line-height: 25px;
}




.priorities{
    padding: 90px 0 95px;
    background: url("../img/prioriti.jpg") no-repeat 100% 0;
    background-size: cover;
}
.title-29{
    font-size: 29px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    color: #00C0FF;
    font-family: Roboto, Raleway, Arial, sans-serif;
}
.title-38{
    font-size: 38px;
    line-height: 1.2;
    text-transform: uppercase;
    color:#00C0FF;
    margin-bottom: 11px;
    font-weight: 400;

}
.text1{
    font-size: 21px;
    line-height: 33px;
    color:#00C0FF;
    text-align: center;
    margin: 0 auto 80px;
    max-width: 980px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-33{
    width: calc(33.3% - 23px);
    flex-shrink: 0;/*не сжимался контент при маленьком объеме*/
    margin: 0 0 30px;
}
.priorities .col-33{
    text-align: center;
    background:rgba( 3, 3, 3, 0.5);
    padding: 63px 85px 75px;
}
.priorities .col-33 h5{
    text-transform: uppercase;
    color:#fff;
    font-size: 17px;
    margin: 0 0 55px;
    font-family: Roboto, Raleway, Arial, sans-serif;
    font-weight: 700;
}
.priorities .col-33 p{
    color:#fff;
    /*font-family: font-family: Roboto, Raleway, Arial, sans-serif;*/
    line-height: 1.2;
    font-size: 17px;
    text-align: left;
    margin: 0 0 62px;
}
/*.author{
    text-align: center;
    margin-top: 40px;
}*/
.author__name{
    font-size: 15px;
    font-family: Roboto, Raleway, Arial, sans-serif;
    line-height: 1.2;
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: 700;
}
.author__position{
    color:#fff;
    font-size: 15px;
}
.priorities .container{
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.col-50{
    width: calc(50% - 15px);
    flex-shrink: 0;
}
.nature{
    position: relative;
    background: #000;
    padding: 185px 0 330px;
}
.nature .text1{
    text-align: left;
    margin-bottom: 0;
}
.nature__image{
    position: absolute;
    right: 0;
    top:0;
    width: 50%;
    height: 100%;
    z-index: 5;
    background: url("../img/nature.jpg") no-repeat 0 50%;
    background-size: cover;
}
.nature .col-50{
    padding-right: 40px;
}
.nature .container{
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}











.comment-first{
    background-color: #141414;
    padding: 122px 0 50px;
}
.comment-first .container{
    max-width: 830px;
    margin: 0 auto;
    color: #00C0FF;
    text-align: center;
}
.comment-first p{
    font-size: 21px;
    line-height: 32px;
}
.commentFirst-author{
    font-size: 19px;
    padding-top: 40px;
}











.ticket{
    background:url("../img/ticket.jpg");
    background-size: cover;
    padding: 210px 0 205px;
}
.ticket .container{
    text-align: right;
    max-width: 1245px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.buy-ticket{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    color:#fff;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 52px;
}
.location{
    width: 25%;
}
.ticket-text{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color:#fff;
    padding: 20px 0 50px;
    line-height: 18px;
}
.location a{
    padding: 12px 58px;
    background-color: #fff;
    opacity: .75;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    color:#00C0FF;
    border-radius: 20px;
    text-transform: uppercase;
    display: block;
    width: 160px;
    margin-left: auto;
    text-align: center;
}
.location a:hover{
    opacity: 1;
}




.calendar{
    background-color: #000;
    padding: 208px 0 212px;
}
.calendar .container{
    max-width: 1160px;
    margin: 0 auto; 
}
.cal{
    display: flex;
    flex-wrap: wrap;
}
.cal li{
    width: 50%;
    color:#00C0FF;
    margin-top: 237px;
    padding: 0 90px 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal li:nth-child(1){
    margin-top: 0;
}
.cal li:nth-child(2){
    margin-top: 0;
}
.centr{
    text-align: center;
}
.centr img{
    padding-top: 40px;
    padding-right: 40px;
}
.calend-img{
    padding: 0 0 10px 90px;
}
.data-project{
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}
.head-project{
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 21px;
    padding: 10px 0 45px;
}





.data{
    background-color: #141414;
    padding: 90px 0;
}
.data .container{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.data .col-33{
    width: 33.3%;
    margin: 0;
    color: #fff;
}
.col-33 p{
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
}
.col-33 .head-data{
    font-size: 21px;
    padding-bottom: 10px;
}





.comment{
    background-color: #000;
    padding: 105px 0;
}
.comment .container{
    max-width: 830px;
    padding: 0 15px;
    margin: 0 auto;
    color: #00C0FF;
    text-align: center;
}
.comment p{
    font-size: 21px;
    line-height: 30px;
}
.comment .comment-author{
    font-size: 19px;
    padding-top: 15px;
}
/*

*/































@media(max-width: 1100px){
    .priorities .col-33{
        padding: 35px 30px 45px;
    }
    .priorities .col-33 h5,
    .priorities .col-33 p{
        margin-bottom: 30px;
    }
    .main{
        padding-top:37%;
        padding-bottom:10%;
        min-height: auto;
    }
    .main-inner p{
        padding: 6% 0;
    }
    .we{
        padding:6% 0;
    }
    .we .container{
        max-width: 800px;
    }
    .who{
        padding: 6% 0;
    }
    .who .container{
        margin: 0 auto;
        max-width: 75%;
    }
    .who .container h3{
        font-size: 20px;
        padding-bottom: 4%;
    }
    .who .container p{
        font-size: 16px;
    }
    .we .container{
        max-width: 80%;
        text-align: center;
    }
    .text h4{
        font-size: 16px;
        padding-bottom: 6%;
    }
    .text p{
        font-size: 12px;
    }
    .ticket{
        padding: 7% 0;
    }
    .ticket .container{
        padding-right: 10%;
    }
    .location{
        width:40%;
    }
}

@media(max-width: 920px){
   .main{
        padding-top: 35%;
        padding-bottom: 11%;
    }
    .main-inner img{
        width: 60%;
    }
    .btn-main{
        font-size: 20px;
        padding: 7px 30px;
    }
    .main .container{
        width: 500px;
    }
    .main-inner p{
        font-size: 16px;
    }
    .calendar{
        padding: 10% 0;
    }
    .cal li{
        padding: 0 25px;
        margin-top: 10%;
    }
    .head-project{
        font-size: 17px;
        padding-bottom: 15px; 
    }
    .text-project{
        font-size: 15px;
    }
    .centr img{
        width: 80%;
    }
}









@media(max-width: 800px){
    .mobile-button{
        display: inline-flex;
    }
    .navigation{
        display: none;
        position: absolute;
        left:0;
        top:100%;
        width: 100%;
        padding: 20px 15px;
        text-align: center;
        background: #000;
        height: auto;
        z-index: 20;
    }
    .header{
        top:0;
    }
    .header .container{
        padding:8px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}









@media(max-width: 790px){
    .text h4{
        font-size: 12px;
    }
    .text p{
        font-size: 10px;
    }
    .comment-first{
        padding: 5% 0;
    }
    .comment-first .container{
        width: 67%;
    }
    .comment-first p{
        font-size: 16px;
        line-height: 22px;
    }
    .commentFirst-author{
        font-size: 14px;
    }
    .ticket .container{
        padding-right: 10%;
        text-align: center;
        padding-right: 15px;
    }
    .location{
        width:100%;
    }
    .location a{
        margin:0 auto;
    }
     .comment{
        padding: 5% 0;
    }
    .comment .container{
        width: 67%;
    }
    .comment p{
        font-size: 16px;
        line-height: 22px;
    }
    .comment-author{
        font-size: 14px;
    }
}
@media(max-width: 768px){
    .col-33{
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }
    .priorities{
        padding: 60px 0 65px;
    }
    .text1{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    .title-29{
        font-size: 24px;
        margin-bottom: 25px
    }
    .title-38{
        font-size: 28px;
        margin-bottom: ;
    }
    .data{
        padding: 6% 0;
    }
    .col-33 .head-data{
        font-size: 17px;
    }
    .col-33 p{
        font-size: 15px;
    }
}
@media(max-width: 760px){
    .main-inner p{
        font-size: 15px;
    }
    .main-inner img{
        width: 40%;
    }
}
@media(max-width: 600px){
    .col-50{
        width: 100%;
    }
    .nature__image{
        display:none; 

    }
    .nature{
        padding:60px 0 65px;
    }
    .nature .col-50{
        padding-right: 0;
    }
    .buy-ticket{
        font-size: 35px;
    }
    .ticket-text{
        font-size: 15px;
    }
    .location a{
        padding: 6px 31px;
        font-size: 17px;
    }
    .data .container{
        display: flex;
        flex-direction: column;
    }
    .data .col-33{
        width: 100%;
        padding-top: 8%;
    }
    .data .col-33:first-child{
        padding-top: 0;
    }
}

@media(max-width:590px){
    .who .container h3{
        font-size: 16px;
    }
    .who .container p{
        font-size: 14px;
    }
    .we .container{
        max-width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text{
        margin-bottom: 5%;
    }
    .text h4{
        padding-bottom: 2%;
    }
    .text p{
        line-height: 18px;
    }
} 
@media(max-width: 560px){
    .main-inner img{
        width: 60%;
    }
    .main .container{
        width: 350px;
    }
    .main{
        padding-top: 40%;
        padding-bottom: 10%;
    }
    .main-inner p{
        padding: 3% 0 6%;
    }
}
@media(max-width: 480px){
    .col-33{
        width: 100%;
    }
    .priorities .col-33 p{
        text-align: center;
    }
    .data-project{
        font-size: 15px;
    }
    .text-project{
        font-size: 13px;
    }
    .centr img{
        width: 60%;
    }
    .comment-first p{
        font-size: 14px;
    }
    .comment p{
        font-size: 14px;
    }
    .centr img{
        width: 100%;
    }
}
@media(max-width: 420px){
    .main{
        padding-top: 50%;
        padding-bottom: 7%;
    }
    .main .container{
        width: 250px;
    }
    .main-inner img{
        width: 80%;
    }
    .main-inner p{
        font-size: 12px;
    }
    .btn-main{
        font-size: 16px;
        padding: 5px 20px;
    }

}
@media(max-width: 320px){
    .main-inner p{
        line-height: 16px;
    }
    .who .container p{
        font-size: 12px;
        line-height: 17px;
    }
}





























































